# media
media/*/backups
media/*/cache
media/*/config
media/*/data
media/*/downloads
media/*/media
media/*/movies
media/*/tv

# monitor
monitor/*/grafana
monitor/*/prometheus
monitor/*/data

# network
network/*/certs
network/*/etc-dnsmasq.d
network/*/logs
network/*/etc-pihole
network/*/providers
network/*/step
network/*/wireguard

# private
private/*/backups
private/*/config
private/*/configs
private/*/data
private/*/files
private/*/icons
private/*/import
private/*/logs
private/*/servers

# dashboard

dashboard/homarr/homarr

# file
file/syncthing/config
file/*/config
file/*/data
file/*/etc

# tools postgres  redis  storage
tools/*/postgres
tools/*/redis
tools/*/storage
tools/*/data
tools/*/db

# public
public/*/data
public/*/database

# hidden files
.*
!.*.template

# log files
*.log
*.status


file/rclone/rclone-config/rclone.conf
tools/overleaf-toolkit
